[submodule "bot"]
	path = bot
	url = https://github.com/neuro-assist/bot
[submodule "backend"]
	path = backend
	url = https://github.com/neuro-assist/backend
[submodule "gemini-poller"]
	path = gemini-poller
	url = https://github.com/neuro-assist/gemini-poller
